.App {
  text-align: center;
}

.container {
  margin: 200px 0px;
}

.container button {
  color:rgb(19, 18, 18);
  font-weight: 700;
  background-color:rgb(197, 213, 226);
  text-align: center;
  width: 80px;
  height: 40px;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  transition: all 0.3s ease 0s;
}

.container button:hover {
  background-color:rgb(239, 247, 169);
  transform: scale(1.1);
}

.overley {
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: rgb(124, 12, 12);
  color:rgb(19, 18, 18);
  border-radius: 5px 5px 5px 5px;
  width: 400px;
  height: 200px;
  text-align: center;
}

.overley p {
  color: aliceblue;
  font-weight: 700;
}

.modal {
  position: relative;
  background-color: rgb(19, 18, 18);
  width: 20px;
  height: 20px;
  top: 0%;
  left: 95%;
}

